<html xmlns:py="http://genshi.edgewall.org/" xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <script language="javascript" type="text/javascript" src="${url('/static/jquery.jqplot.min.js')}"></script>
  <script type="text/javascript" language="javascript" src="${url('/static/jqplot.dateAxisRenderer.min.js')}"></script>
  <script type="text/javascript" language="javascript" src="${url('/static/jqplot.cursor.min.js')}"></script>
  <link rel="stylesheet" type="text/css" href="${url('/static/jquery.jqplot.min.css')}" />

</html>
