<html xmlns:py="http://genshi.edgewall.org/" xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

  <script type="text/javascript" src="${url('/static/jquery.notice.js')}"></script>
  <link rel="stylesheet" type="text/css" href="${url('/static/jquery.notice.css')}" />

<py:if test="flash_present()">
  <script type="text/javascript">
    $(document).ready( function () {
      jQuery.noticeAdd({
          text: '${flash_get()}',
          stay: false,
          stayTime: 30000,
          });
      return false;
      });
  </script>
</py:if>
</html>
